<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
    <div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-white font-tertiary">Hi! I’m <br> Christoher <br> UX designer</h1>
        </div>
      </div>
    </div>
    <div class="layer-bg w-100">
      <img class="img-fluid w-100" src="images/illustrations/leaf-bg.png" alt="bg-shape">
    </div>
    <div class="layer" id="l2">
      <img src="images/illustrations/dots-cyan.png" alt="bg-shape">
    </div>
    <div class="layer" id="l3">
      <img src="images/illustrations/leaf-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l4">
      <img src="images/illustrations/dots-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l5">
      <img src="images/illustrations/leaf-yellow.png" alt="bg-shape">
    </div>
    <div class="layer" id="l6">
      <img src="images/illustrations/leaf-cyan.png" alt="bg-shape">
    </div>
    <div class="layer" id="l7">
      <img src="images/illustrations/dots-group-orange.png" alt="bg-shape">
    </div>
    <div class="layer" id="l8">
      <img src="images/illustrations/leaf-pink-round.png" alt="bg-shape">
    </div>
    <div class="layer" id="l9">
      <img src="images/illustrations/leaf-cyan-2.png" alt="bg-shape">
    </div>
    <!-- social icon -->
    <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
      <li class="mb-3"><a class="text-white" href="#"><i class="ti-facebook"></i></a></li>
      <li class="mb-3"><a class="text-white" href="#"><i class="ti-instagram"></i></a></li>
      <li class="mb-3"><a class="text-white" href="#"><i class="ti-dribbble"></i></a></li>
      <li class="mb-3"><a class="text-white" href="#"><i class="ti-twitter"></i></a></li>
    </ul>
    <!-- /social icon -->
  </section>
  <!-- /hero area -->
  
<!--Remaining section-->
    <!-- experience -->
    <section class="section">
        <div class="container">
          <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
              <h2 class="section-title">Experience</h2>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
              <img src="images/experience/icon-1.png" alt="icon">
              <p class="mb-0">Jan 2007 - Feb 2009</p>
              <h4>Junior UX Designer</h4>
              <h6 class="text-light">WEBEX</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
              <img src="images/experience/icon-2.png" alt="icon">
              <p class="mb-0">Mar 2009 - Aug 2014</p>
              <h4>UX & UI Designer</h4>
              <h6 class="text-light">AUGMEDIX</h6>
            </div>
            <div class="col-lg-3 col-md-4 text-center">
              <img src="images/experience/icon-3.png" alt="icon">
              <p class="mb-0">Sep 2014 - Present</p>
              <h4>Senior UI Designer</h4>
              <h6 class="text-light">THEMEFISHER</h6>
            </div>
          </div>
        </div>
      </section>
      <!-- ./experience -->
  
      <!-- education -->
      <section class="section position-relative">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-title">Education</h2>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
              <div class="d-flex">
                <div class="mr-lg-5 mr-3">
                  <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                </div>
                <div>
                  <p class="text-dark mb-1">2006</p>
                  <h4>Marters in UX Design</h4>
                  <p class="mb-0 text-light">Masassusets Institute of Technology</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
              <div class="d-flex">
                <div class="mr-lg-5 mr-3">
                  <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                </div>
                <div>
                  <p class="text-dark mb-1">2004</p>
                  <h4>Honours in Fine Arts</h4>
                  <p class="mb-0 text-light">Harvard University</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
              <div class="d-flex">
                <div class="mr-lg-5 mr-3">
                  <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                </div>
                <div>
                  <p class="text-dark mb-1">2000</p>
                  <h4>Higher Secondary Certificat</h4>
                  <p class="mb-0 text-light">Cardiff School</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-80">
              <div class="d-flex">
                <div class="mr-lg-5 mr-3">
                  <i class="ti-medall icon icon-light icon-bg bg-white shadow rounded-circle d-block"></i>
                </div>
                <div>
                  <p class="text-dark mb-1">1998</p>
                  <h4>Secondary School Certificate</h4>
                  <p class="mb-0 text-light">Cardiff School</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- bg image -->
        <img class="img-fluid edu-bg-image w-100" src="images/backgrounds/education-bg.png" alt="bg-image">
      </section>
      <!-- /education -->